.login-container {
    padding: 100px 5vw;
    text-align: center;
}
.login-title {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin: auto;
}
form {
    max-width: 600px;
    margin: auto;
}
form p {
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
    text-align: left;
    color: #111111;
}
.edit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}
.edit-container a {
    color: var(--text-secondary);
    font-weight: 700;
    border-radius: 15px;
    margin: 1rem;
    font-size: 1.2rem;
    background-color: var(--bg-secondary);
    padding: 1rem;
}
.edit-container a:hover {
    background-color: grey;
    color: black;
}
form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
form label {
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
    text-align: left;
    color: #111111;
}


form input,
form textarea {
    width: 100%;
    padding: 0.8rem 0;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: sans-serif;
}


#sub {
    width: 100%;
    padding: 1rem;
    background-color: #6c2dc7;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 600px;
}

#sub:hover {
    background-color: #440071;
}