/** 
Andrew Iammancini, Mekaeel Malik
April 3
Styling for /admin route
*/
.login-container {
    padding: 100px 5vw;
    text-align: center;
}
.login-title {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin: auto;
}
form {
    max-width: 600px;
    margin: auto;
}
form p {
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
    text-align: left;
    color: #111111;
}
.edit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}
.grey-btn {
    color: var(--text-secondary);
    font-weight: 700;
    border-radius: 15px;
    margin: 1rem;
    font-size: 1.2rem;
    background-color: var(--bg-secondary);
    padding: 1rem;
}
.grey-btn {
    background-color: grey;
    color: black;
}
form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
form label, form p {
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
    text-align: left;
    color: #111111;
}
form input,
form textarea {
    width: 100%;
    padding: 0.8rem 0;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: sans-serif;
}
thead {
    background-color: black;
    color: white;
}
tr:nth-child(even) {
    background-color: rgb(221, 221, 221);
}


#sub {
    width: 100%;
    padding: 1rem;
    background-color: #6c2dc7;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 600px;
}
#sub:hover {
    background-color: #440071;
}
#update-table {
    margin-left: auto;
    margin-right: auto;
}
.update-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.del-btn {
    padding: .2rem 1rem;
    font-size: 1.2rem;
    background-color: rgb(255, 161, 161);
    color: rgb(255, 18, 18);
    text-align: center;
    border-radius: 15px;
    border: none;
}
.del-btn:hover {
    background-color: rgb(126, 4, 4);
}
.edit-btn {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: .2rem 1rem;
    font-size: 1.2rem;
    border-radius: 1.2rem;
}
.edit-btn:hover {
    background-color: rgb(87, 87, 87);
}
.center {
    text-align: center;
}
.update-image {
    max-width: 100px;
}