/** 
Andrew Iammancini
April 3
Styling for /contact route
*/


.contact-container {
    padding: 100px 5vw;
    text-align: center;
}

.contact-container h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #111111;
}


form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}


form label {
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
    text-align: left;
    color: #111111;
}


form input,
form textarea {
    width: 100%;
    padding: 0.8rem 0;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: sans-serif;
}


form button {
    width: 100%;
    padding: 1rem;
    background-color: #6c2dc7;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #440071;
}


.success,
.error {
    margin: 0 auto 1rem auto;
    padding: 1rem;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.success {
    background-color: #d0f5d0;
    color: #2a722a;
}

.error {
    background-color: #f9dede;
    color: #b00020;
}
