/** 
 Andrew Iammancini/ Edwin
 April 3
 Styling for /gallery route
 */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.view {
    width: 100%;
    height: 500px;
}

#header {
    text-align: center;
    background-color: var(--primary);
    padding: 20px;
    margin-bottom: -26px;
}

#header h1 {
    margin: 0;
    color: white;
    padding: 0;
    max-width: 100%;

}


#headerRender {
    position: relative;
    height: 25vh;
    width: 100%;
}


#mainRender:hover~#mainHoverText {
    opacity: 100%;
}

#mainRender {
    position: absolute;
    opacity: 50%;
    z-index: 1;
}


#mainHoverText {
    opacity: 10%;
    user-select: none;
    z-index: -1;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease;
}

#mainHoverText h3 {
    margin: none;
}

#mainHoverText p {
    font-size: 1.5vw;
    margin: none;
}


#renderGrid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.tile {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    margin-bottom: 20%;
    align-items: center;
    text-align: center;
    height: 400px;
}

.tileWords {
    width: 100%;
    height: 50%;
    background-color: var(--primary);

}

.tileWords p {
    padding: 0;
    margin: 0;
    font-size: 1.5vw;
    margin: 0;
    margin-left: 10px;
    color: white;
}

.tileWords h3 {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 2.5vw;
    color: white;
}

.tile img {
    max-width: 100%;
}




.tileRender {
    border-radius: 5px;
    width: 100%;
    opacity: 50%;

}

.tileRenderHover {
    position: absolute;
    z-index: 1;
}

.tileRender:hover~.tileHoverText {
    opacity: 100%;
}

.tileHoverText {
    opacity: 10%;
    user-select: none;
    z-index: -1;
    height: 100%;
    width: 100%;
    transition: opacity 0.5s ease;
    background-image: linear-gradient(white, rgb(218, 218, 218), rgb(86, 85, 85), black);
}

.tileHoverText p {
    font-size: 2vw;
    color: black;
}


#thumbnailGrid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.subHeader {
    width: 100%;
    padding: 3vw 5vw;
    margin: 10vh 0;
    background-color: var(--bg-secondary);
    color: black;
}