.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.hero-img {
    position: absolute;
    width: 1000px;
    height: auto;
}
.hero-title {
    font-size: 6rem;
    font-weight: bold;
}
.hero-grad-text {
    background-image: linear-gradient(#D49BFF, #440071);
    color: transparent;
    background-clip: text;
}